:root {
    /* Colors */
    /* --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d; */

    /* --color-text: #fff;
    --color-primary: #8DECB4;
    --color-secondary: #5F5D9C;
    --color-dark: #5F5D9C;
    --color-bg: #006769; */

    --color-text: #fff;
    --color-primary: #3C0753;
    --color-secondary: #3C0753;
    --color-dark: #910A67;
    --color-bg: #6C22A6;

    /* --color-text: #fff;
    --color-primary: #151515;
    --color-secondary: #211C6A;
    --color-dark: #EEEEEE;
    --color-bg: #D2E0FB; */

    /* Fonts */
    --font-roboto: "Roboto";
}